
*.lock
*.xml
*.bin
*.bin
*.lock
*.salive
*.xml
*.tab
*.keystream
*.len
*.at
*.tab_i
*.txt
*.zip
*.rar
*.json
.idea/
/Cache/
buildSrc/build/source-roots/buildSrc/source-roots.txt
buildSrc/build/pluginUnderTestMetadata/plugin-under-test-metadata.properties
buildSrc/build/libs/buildSrc.jar
buildSrc/build/kotlin/buildSrcjar-classes.txt
buildSrc/.gradle/checksums/sha1-checksums.bin
buildSrc/.gradle/checksums/md5-checksums.bin
buildSrc/.gradle/checksums/checksums.lock
buildSrc/.gradle/buildOutputCleanup/outputFiles.bin
buildSrc/.gradle/buildOutputCleanup/buildOutputCleanup.lock
buildSrc/.gradle/7.2/executionHistory/executionHistory.lock
buildSrc/.gradle/7.2/executionHistory/executionHistory.bin

/central/data/
/central/data/_saved
central/data/_saved/social/
central\data\_saved\social\
.idea/.name

# Project exclude paths
/.gradle/
/build/
/buildSrc/.gradle/
/buildSrc/build/
/players-2022-10-12 14-28-01/
/players-2022-08-28 17-24-34/
/cachhe_babck/
/players-2022-10-12 14-28-01.zip
*.json
