
*.lock
*.xml
*.bin
*.bin
*.lock
*.salive
*.xml
*.tab
*.keystream
*.len
*.at
*.tab_i
*.jar
*.properties
*.txt
.idea/
/Cache/
buildSrc/build/source-roots/buildSrc/source-roots.txt
buildSrc/build/pluginUnderTestMetadata/plugin-under-test-metadata.properties
buildSrc/build/libs/buildSrc.jar
buildSrc/build/kotlin/buildSrcjar-classes.txt
buildSrc/.gradle/checksums/sha1-checksums.bin
buildSrc/.gradle/checksums/md5-checksums.bin
buildSrc/.gradle/checksums/checksums.lock
buildSrc/.gradle/buildOutputCleanup/outputFiles.bin
buildSrc/.gradle/buildOutputCleanup/buildOutputCleanup.lock
buildSrc/.gradle/7.2/executionHistory/executionHistory.lock
buildSrc/.gradle/7.2/executionHistory/executionHistory.bin
.idea/misc.xml
.gradle/configuration-cache/configuration-cache.lock
.gradle/configuration-cache/8hn73xgkw9mjtbv85933qdzem/work.bin
.gradle/configuration-cache/8hn73xgkw9mjtbv85933qdzem/fingerprint.bin
.gradle/configuration-cache/3prcrzhal2f9fisu4n6pc691v/work.bin
.gradle/configuration-cache/3prcrzhal2f9fisu4n6pc691v/fingerprint.bin
.gradle/checksums/sha1-checksums.bin
.gradle/checksums/md5-checksums.bin
.gradle/checksums/checksums.lock
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/7.2/fileHashes/resourceHashesCache.bin
.gradle/7.2/fileHashes/fileHashes.lock
.gradle/7.2/fileHashes/fileHashes.bin
.gradle/7.2/executionHistory/executionHistory.lock
.gradle/7.2/executionHistory/executionHistory.bin
Cache - copy/main_file_cache.dat2
Cache - copy/main_file_cache.idx0
Cache - copy/main_file_cache.idx1
Cache - copy/main_file_cache.idx10
Cache - copy/main_file_cache.idx11
Cache - copy/main_file_cache.idx12
Cache - copy/main_file_cache.idx13
Cache - copy/main_file_cache.idx14
Cache - copy/main_file_cache.idx15
Cache - copy/main_file_cache.idx16
Cache - copy/main_file_cache.idx17
Cache - copy/main_file_cache.idx18
Cache - copy/main_file_cache.idx19
Cache - copy/main_file_cache.idx2
Cache - copy/main_file_cache.idx20
Cache - copy/main_file_cache.idx255
Cache - copy/main_file_cache.idx3
Cache - copy/main_file_cache.idx4
Cache - copy/main_file_cache.idx5
Cache - copy/main_file_cache.idx6
Cache - copy/main_file_cache.idx7
Cache - copy/main_file_cache.idx8
Cache - copy/main_file_cache.idx9

Cache - Before Everything/main_file_cache.dat2

Cache - Before Everything/main_file_cache.idx0

Cache - Before Everything/main_file_cache.idx1

Cache - Before Everything/main_file_cache.idx10

Cache - Before Everything/main_file_cache.idx11

Cache - Before Everything/main_file_cache.idx12

Cache - Before Everything/main_file_cache.idx13

Cache - Before Everything/main_file_cache.idx14

Cache - Before Everything/main_file_cache.idx15

Cache - Before Everything/main_file_cache.idx16

Cache - Before Everything/main_file_cache.idx17

Cache - Before Everything/main_file_cache.idx18

Cache - Before Everything/main_file_cache.idx19

Cache - Before Everything/main_file_cache.idx2

Cache - Before Everything/main_file_cache.idx20

Cache - Before Everything/main_file_cache.idx255

Cache - Before Everything/main_file_cache.idx3

Cache - Before Everything/main_file_cache.idx4

Cache - Before Everything/main_file_cache.idx5

Cache - Before Everything/main_file_cache.idx6

Cache - Before Everything/main_file_cache.idx7

Cache - Before Everything/main_file_cache.idx8

Cache - Before Everything/main_file_cache.idx9

Cache/main_file_cache.dat2

Cache/main_file_cache.idx255

Cache/main_file_cache.idx3

Cache/main_file_cache.idx8

Cache/main_file_cache.idx10

Cache/main_file_cache.idx12

Cache/main_file_cache.idx2

Cache/main_file_cache.idx5

Cache/main_file_cache.idx7

core/out/production/classes/io/ruin/api/buffer/InBuffer.class

core/out/production/classes/io/ruin/api/buffer/OutBuffer.class

core/out/production/classes/io/ruin/api/database/Database.class

core/out/production/classes/io/ruin/api/database/DatabaseStatement.class

core/out/production/classes/io/ruin/api/database/DatabaseUtils.class

core/out/production/classes/io/ruin/api/database/DatabaseUtils$1.class

core/out/production/classes/io/ruin/api/database/DummyDatabase.class

core/out/production/classes/io/ruin/api/filestore/Archive.class

core/out/production/classes/io/ruin/api/filestore/Archive$File.class

core/out/production/classes/io/ruin/api/filestore/FileStore.class

core/out/production/classes/io/ruin/api/filestore/IndexFile.class

core/out/production/classes/io/ruin/api/filestore/osrs/BZIP.class

core/out/production/classes/io/ruin/api/filestore/osrs/BZIP$Class168.class

core/out/production/classes/io/ruin/api/filestore/osrs/Checksum.class

core/out/production/classes/io/ruin/api/filestore/osrs/Class121.class

core/out/production/classes/io/ruin/api/filestore/osrs/Class122.class

core/out/production/classes/io/ruin/api/filestore/osrs/Class130.class

core/out/production/classes/io/ruin/api/filestore/osrs/Class166.class

core/out/production/classes/io/ruin/api/filestore/osrs/Class167.class

core/out/production/classes/io/ruin/api/filestore/osrs/Class172.class

core/out/production/classes/io/ruin/api/filestore/osrs/Class182.class

core/out/production/classes/io/ruin/api/filestore/osrs/Class88.class

core/out/production/classes/io/ruin/api/filestore/osrs/FileStore2.class

core/out/production/classes/io/ruin/api/filestore/osrs/GZIP.class

core/out/production/classes/io/ruin/api/filestore/osrs/IndexFile.class

core/out/production/classes/io/ruin/api/filestore/osrs/NameHash.class

core/out/production/classes/io/ruin/api/filestore/osrs/ReferenceTable.class

core/out/production/classes/io/ruin/api/filestore/ReferenceTable.class

core/out/production/classes/io/ruin/api/filestore/utility/BZIP.class

core/out/production/classes/io/ruin/api/filestore/utility/BZIP$Class167.class

core/out/production/classes/io/ruin/api/filestore/utility/GZIP.class

core/out/production/classes/io/ruin/api/filestore/utility/Huffman.class

core/out/production/classes/io/ruin/api/filestore/utility/NameHash.class

core/out/production/classes/io/ruin/api/netty/EmptyChannel.class

core/out/production/classes/io/ruin/api/netty/ExceptionHandler.class

core/out/production/classes/io/ruin/api/netty/Message.class

core/out/production/classes/io/ruin/api/netty/MessageDecoder.class

core/out/production/classes/io/ruin/api/netty/NettyServer.class

core/out/production/classes/io/ruin/api/netty/NettyServer$1.class

core/out/production/classes/io/ruin/api/process/ProcessFactory.class

core/out/production/classes/io/ruin/api/process/ProcessWorker.class

core/out/production/classes/io/ruin/api/protocol/login/LoginInfo.class

core/out/production/classes/io/ruin/api/protocol/login/LoginRequest.class

core/out/production/classes/io/ruin/api/protocol/Protocol.class

core/out/production/classes/io/ruin/api/protocol/Response.class

core/out/production/classes/io/ruin/api/protocol/world/WorldFlag.class

core/out/production/classes/io/ruin/api/protocol/world/WorldSetting.class

core/out/production/classes/io/ruin/api/protocol/world/WorldStage.class

core/out/production/classes/io/ruin/api/protocol/world/WorldType.class

core/out/production/classes/io/ruin/api/utils/ArrayUtils.class

core/out/production/classes/io/ruin/api/utils/AttributesHolder.class

core/out/production/classes/io/ruin/api/utils/BCrypt.class

core/out/production/classes/io/ruin/api/utils/FileUtils.class

core/out/production/classes/io/ruin/api/utils/HomeFiles.class

core/out/production/classes/io/ruin/api/utils/IPAddress.class

core/out/production/classes/io/ruin/api/utils/IPBans.class

core/out/production/classes/io/ruin/api/utils/IPMute.class

core/out/production/classes/io/ruin/api/utils/ISAACCipher.class

core/out/production/classes/io/ruin/api/utils/JsonUtils.class

core/out/production/classes/io/ruin/api/utils/ListUtils.class

core/out/production/classes/io/ruin/api/utils/MACBan.class

core/out/production/classes/io/ruin/api/utils/NumberUtils.class

core/out/production/classes/io/ruin/api/utils/PackageLoader.class

core/out/production/classes/io/ruin/api/utils/PacketSizeTool.class

core/out/production/classes/io/ruin/api/utils/PacketSizeTool$PacketBlock.class

core/out/production/classes/io/ruin/api/utils/PacketSizeTool$PacketFrame.class

core/out/production/classes/io/ruin/api/utils/PacketSizeTool$PacketFrame$1.class

core/out/production/classes/io/ruin/api/utils/PacketSizeTool$PacketFrame$2.class

core/out/production/classes/io/ruin/api/utils/PacketSizeTool$PacketFrame$3.class

core/out/production/classes/io/ruin/api/utils/PacketSizeTool$PacketFrame$4.class

core/out/production/classes/io/ruin/api/utils/PostWorker.class

core/out/production/classes/io/ruin/api/utils/PunishmentType.class

core/out/production/classes/io/ruin/api/utils/Random.class

core/out/production/classes/io/ruin/api/utils/RSAKeyGen.class

core/out/production/classes/io/ruin/api/utils/SafeRunnable.class

core/out/production/classes/io/ruin/api/utils/ServerWrapper.class

core/out/production/classes/io/ruin/api/utils/SkipLoad.class

core/out/production/classes/io/ruin/api/utils/StringUtils.class

core/out/production/classes/io/ruin/api/utils/ThreadUtils.class

core/out/production/classes/io/ruin/api/utils/TimeUtils.class

core/out/production/classes/io/ruin/api/utils/Tuple.class

core/out/production/classes/io/ruin/api/utils/UUIDBan.class

core/out/production/classes/io/ruin/api/utils/WebTable.class

core/out/production/classes/io/ruin/api/utils/XenPost.class

core/out/production/classes/io/ruin/central/utility/XenforoUtils.class

update/out/production/classes/io/ruin/update/CacheManager.class

update/out/production/classes/io/ruin/update/HandshakeDecoder.class

update/out/production/classes/io/ruin/update/Js5Decoder.class

update/out/production/classes/io/ruin/update/Server.class

Cache - Copy (2)/main_file_cache.dat2

Cache - Copy (2)/main_file_cache.idx0

Cache - Copy (2)/main_file_cache.idx1

Cache - Copy (2)/main_file_cache.idx10

Cache - Copy (2)/main_file_cache.idx11

Cache - Copy (2)/main_file_cache.idx12

Cache - Copy (2)/main_file_cache.idx13

Cache - Copy (2)/main_file_cache.idx14

Cache - Copy (2)/main_file_cache.idx15

Cache - Copy (2)/main_file_cache.idx16

Cache - Copy (2)/main_file_cache.idx17

Cache - Copy (2)/main_file_cache.idx18

Cache - Copy (2)/main_file_cache.idx19

Cache - Copy (2)/main_file_cache.idx2

Cache - Copy (2)/main_file_cache.idx20

Cache - Copy (2)/main_file_cache.idx255

Cache - Copy (2)/main_file_cache.idx3

Cache - Copy (2)/main_file_cache.idx4

Cache - Copy (2)/main_file_cache.idx5

Cache - Copy (2)/main_file_cache.idx6

Cache - Copy (2)/main_file_cache.idx7

Cache - Copy (2)/main_file_cache.idx8

Cache - Copy (2)/main_file_cache.idx9

.idea/.name

# Project exclude paths
/.gradle/
/build/
/buildSrc/.gradle/
/buildSrc/build/
/players-2022-10-12 14-28-01/
/players-2022-08-28 17-24-34/
/cachhe_babck/
/players-2022-10-12 14-28-01.zip
